/* Author: Joshua Durber */
/* Co-Author: Diana Ciceu, Tilly Richter, Yhuen Yutico */
body {
    font-family: Arial, SansSerif;
    margin-left: 40px;
    margin-top:3px;
    padding: 0px;
    box-sizing: border-box;
}
.sidenav {
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    width: 63px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 2;
}
.sidenav-list{
    position: relative;
    padding:0;
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.second-block {
    background-color: #bdc0d2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    width: 350px;
    position: fixed;
    top: 0;
    left: 50px;
    z-index: 1;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.third-block {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin-top: 53px;
    margin-left: 500px;
    margin-right: 200px;
    z-index: 1;
    padding-top: 50px;
    justify-content: space-between;
}
.hi-header {

    margin-top: 0;
    margin-left:450px;
}
.hi-header h2 {
    margin-bottom: 20px;
    margin-top: 33px;
    font-family: monospace;
    font-size: 23px;

}
.welcome {
    color: #949494;
    margin-bottom: 20px;
    margin-top: 25px;
    font-family: monospace;
    font-size: 10px;

}
.profile-icon {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 73px;
    height: 73px;
    border-radius: 50%;
    background-color: #6A6677;
    margin: 0 auto 20px;
    position: relative;
    overflow: hidden;
}
.pfp-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;

}

.pfp-icon img{
    object-fit: contain;
    position: relative;
    left: -2px;
    top: 2px;

}

.girl {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.girl img {
    position: relative;
    bottom: -450px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    left: 10px;
}

.title {
    font-family: monospace;
    font-size: 15px;
    position: relative;
    top: -30px;
}

.logout-icon {
    padding: 5px;
    margin-top: auto;
}

.cr-block, .hb-block {
    height: 100%;
    width: 45%;
    background-color: #6A6677;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cards {
    position: relative;
    width: 90%;
    height: 60px;
    margin-bottom: 10px;
    background-color: #c9c8cf;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.card-content {
    display: flex;
    align-content: center;
    color: white;
    justify-content: left;
    font-family: monospace;
    margin-top: 14px;
    position: relative;
}

.card-content img {
    margin-top: -14px;
    width: 30px;
    height: 30px;
    margin-right: 33px;
    border-radius: 50px;
    padding: 5px;
}

.cards:hover {
    border: solid white 3px;
}

.card-content button{
    color: white;
    position: relative;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid #dadada;
    cursor: pointer;
    font-size: 11px;
    background-color: #c9c8cf;
    margin-left: auto;
    display: flex;
}

.report{
    color: white;
}

.report a:hover, report:hover {
    color: black;
    border-color: black;
}

.report:hover{
    border-color: black;
}

.card-content a{
    text-decoration: none;
    color: white;
}

.basket-icon {
    cursor: pointer;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.sidenav-list li:hover {
    padding: 5px;
    box-shadow: 2px 0px 0px #6A6677;
}

.logout-icon:hover{
    padding:5px;
    box-shadow: 2px 0px 0px #6A6677;
}


.button-container {
    margin-left: auto;
    display: flex;
}

.deny, .approve {
    margin-left: 75px;
    padding: 5px 5px;
    margin-left: auto;
}

.approve {
    margin-right: 5px;
}

.approve:hover {
    color: #7cb46b;
    text-decoration: none;
    border-color: #7cb46b;
}

.deny:hover {
    color: #F5554A;
    text-decoration: none;
    border-color: #F5554A;
}

.footer {
    display: flex;
    justify-content: end;
}