{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DashboardHtml</title>
    <meta name="viewport" content = "width=device-width, initial-scale=1.0" >
    <link rel="stylesheet" href="{% static 'css/dashboard.css'%}">
    
</head>
<body>
    <nav class="sidenav">
        <ul class="sidenav-list">
            <li> <div class="logo"> <a href="{% url 'dashboard-user' %}"><img src="{% static 'images/purplelogo.png'%}" alt="purple-logo" width="63" height="63" > </a> </div></li>
            <div class="basket-icon" >
                <li><a href="{% url 'inventory-user' %}"> <img src="{% static 'images/basket.png'%}" alt="basket-icon" width="50" height="50"></a> </li>
            </div>
            
            <div class="logout-icon">
                <li> <img src="{% static 'images/logout.png'%}" alt="logout-icon" width="50" height="50"> </li>
            </div>
        </ul>
    </nav>
    <div class="second-block">
            <div class="profile-icon">
                <div class="pfp-icon">
                    <img src="{% static 'images/cat.png'%}" alt="pfp-icon" height="55" width="60">
                </div>
            </div>
        
          <div class="guy">
                     <img src="{% static 'images/greenman.png'%}" alt="guy-icon" height="300" width="350">
          </div>


    </div>
    <div class="hi-header">
        <h2> Hi,  {% if request.user.username %}
            {{ request.user.username }}
        {% else %}
            {{ "not login" }}
        {% endif %} </h2>
        <div class="welcome"> Welcome to your dashboard! </div>
    </div>

    <div class="third-block">
            <div class="cr-block"> 
                 <div class="title "> Current Reservations </div>
                <div class="cards" id = myCard>
                    <div class="card-content">
                        <img src="{% static 'images/laptop.png'%}" alt="laptop-icon" height="60" width="60">
                        <div class="item-name"> item name </div>
                    </div>
                        <div class="mini-page">
                            Due Date:
                        </div>
                </div>
                <div class="cards" id = myCard>
                    <div class="card-content">
                        <img src="{% static 'images/laptop.png'%}" alt="laptop-icon" height="60" width="60">
                        <div class="item-name">item name</div>
                    </div>
                        <div class="mini-page">
                            Due Date:
                        </div>
                    
                </div>
                <div class="cards" id = myCard>
                    <div class="card-content">
                        <img src="{% static 'images/laptop.png'%}" alt="laptop-icon" height="60" width="60">
                        <div class="item-name">item name</div>
                    </div>
                         <div class="mini-page">
                            Due Date:
                        </div>
                </div>
            </div>
            <div class="ib-block"> 
                <div class="title"> Inventory Basket </div>
                {% for basket_item in basket %}
                <div class="cards">
                    <div class="card-content">
                        <img src="{% static 'images/macmini.png'%}" alt="laptop-icon" height="90" width="90">
                               <div class="item-name">
                                      
                                          <tr class="inventory-item" data-user="{{ basket_item.inventory_item.name }}" data-item="{{ basket_item.item }}"></tr>
                                              <td>{{ basket_item.inventory_item.name }}</td>
                                      
                                </div>
                    </div>
                </div>
                {% endfor %}
            
                 <div class="add-button"> <a href="{% url 'basket' %}"> 
                     Go to basket </a>
                 </div>
                
            </div>
            <div class="hb-block" > 
                <div class="title"> Historical Bookings </div>
                <div class="cards" id = myCard>
                     <div class="card-content">
                        <img src="{% static 'images/headset.png'%}" alt="headset-icon" height="60" width="60">
                        <div class="item-name">Oculus Quest 2 w/ Controller Pair</div> 
                          <div class="rebook-button">
                              <a href="{% url 'basket' %}">Rebook </a>
                          </div>
                    </div>
                    <div class="mini-page">
                            Booked on:
                            
                    </div>
                </div>
                <div class="cards" id = myCard>
                     <div class="card-content">
                        <img src="{% static 'images/headset.png'%}" alt="headset-icon" height="60" width="60">
                         <div class="item-name"> item name </div>
                         <div class="rebook-button">
                              <a href="{% url 'basket' %}">Rebook </a>
                          </div>
                    </div>
                     <div class="mini-page">
                            Booked on:
                     </div>
                </div>
                <div class="cards" id = myCard>
                    <div class="card-content">
                        <img src="{% static 'images/headset.png'%}" alt="headset-icon" height="60" width="60">
                        <div class="item-name">item name </div>
                        <div class="rebook-button">
                              <a href="{% url 'basket' %}">Rebook </a>
                          </div>
                    </div>
                     <div class="mini-page">
                            Booked on:
                     </div>
                </div>
                <div class="cards" id = myCard>
                    <div class="card-content">
                        <img src="{% static 'images/headset.png'%}" alt="headset-icon" height="60" width="60">
                        <div class="item-name">item name</div>
                        <div class="rebook-button">
                              <a href="{% url 'basket' %}">Rebook </a>
                        </div>
                    </div>
                     <div class="mini-page">
                            Booked on:
                     </div>
                </div>
                <div class="cards" id = myCard>
                    <div class="card-content">
                        <img src="{% static 'images/headset.png'%}" alt="headset-icon" height="60" width="60">
                        <div class="item-name"> item name </div>
                        <div class="rebook-button">
                              <a href="{% url 'basket' %}">Rebook </a>
                        </div>
                    </div>
                     <div class="mini-page">
                            Booked on:
                    </div>
                </div>
                <div class="cards" id = myCard>
                    <div class="card-content">
                        <img src="{% static 'images/headset.png'%}" alt="headset-icon" height="60" width="60">
                        <div class="item-name">item name</div>
                        <div class="rebook-button">
                              <a href="{% url 'basket' %}">Rebook </a>
                        </div>
                    </div>
                     <div class="mini-page">
                            Booked on:
                     </div>
                </div>
            </div>
            
        
    </div>
<script src="{% static 'script/dashboard_script.js' %}"></script>
</body>
</html>