{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InvHtml</title>
    <meta name="viewport" content = "width=device-width, initial-scale=1.0" >
    <link rel="stylesheet" href="../static/css/stylesheet.css">


</head>
<body>
    <nav class="sidenav">
        <ul class="sidenav-list">
            <li> <img src="../static/images/purplelogo.png" alt="purple-logo" width="63" height="63" ></li>
            <div class="basket-icon"> 
                <li><a href="{% url 'inventory-user' %}"> <img src="../static/images/basket.png" alt="basket-icon" width="53" height="53"></a> </li>
            </div>
             <div class="rocket-icon">
                 <li><a href="{% url 'dashboard-user' %}"> <img src="../static/images/rocket.png" alt="rocket-icon" width="53" height="53"></a> </li>
            </div>
             <div class="logout-icon">
                <li> <img src="{% static 'images/logout.png'%}" alt="logout-icon" width="50" height="50"> </li>
            </div>
        </ul>
              
    </nav>

<section id="inv">
    <section id="filter-list">
    <div class="inventory-header">
        <h2> Inventory </h2>
            <div class="custom-dropdown-one">
                <select id="type-filter" name="item-type" onchange="filterInventory()">
                    <option value="all">All</option>
                    <option value="PC/Laptop">PC/Laptop</option>
                    <option value="VR Headset">VR Headset</option>
                    <option value="Camera/Sensors">Camera/Sensors</option>
                    <option value="PC Peripherals">PC Peripherals</option>
                    <option value="Phone/Tablet">Phone/Tablet</option>
                    <option value="Furniture">Furniture</option>
                    <option value="Tripod">Tripod</option>
                    <option value="Other">Other</option>
                    <option value="VR Controller">VR Controller</option>
                    <option value="Power/Cable">Power/Cable</option>
                </select>
            </div>
        <div class="custom-dropdown-two">
        <select id="date-filter">
            <option value="name">Return Date: </option>
            <option value="today">Today</option>
            <option value="tomorrow">Tomorrow</option>
        </select>

    </div>
        <div class="search-bar">
            <form action="/search" method="get">
                <input type="text" name="q" placeholder="Quick Search">
                <div class="search-icon">
                    <img src="../static/images/search-icon.png" alt="search icon">
                </div>
                <button type="submit"> </button>
            </form>
        </div>
        
        <div class="add-button">
            Go to Basket
        </div>


</div>

    <section id="inventory-list">
            <div class="inventory-filter">
                <div class="custom-dropdown">
                    <select id="stock-filter" name="availability" onchange="filterInventory()">
                        <option value="all">All</option>
                        <option value="Available">Available</option>
                        <option value="Unavailable">Unavailable</option>
                    </select>
                    <span class="arrow">▼</span>
                </div>
            </div>
        <!-- Render the HTML table containing database data-->
        <table>
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Type</th>
                    <th>Availability</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for item in inventory_items %}
                <tr class="inventory-item" data-availability="{{ item.availability }}" data-itemtype="{{ item.item_type }}">
                    <td>{{ item.name }}</td> 
                    <td>{{ item.item_type }}</td>
                    
                    {% if item.availability == True %}
                        <td>Available</td>
                    {% else %}
                         <td>Unavailable</td>
                    {% endif %}
                    <td>{{ item.quantity }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      
    </section>

    </section>
</section>
<script src="{% static 'script/inventory_script.js' %}"></script>
</body>
</html>