<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InvHtml</title>
    <meta name="viewport" content = "width=device-width, initial-scale=1.0" >
    <link rel="stylesheet" href="../static/css/stylesheet.css">


</head>
<body>
    <nav class="navbar">
        <div class="nav-text">
        <ul class="nav-list">
            <li>Notifications</li>
            <li>Settings</li>
            <li>
                <div class="bell-icon"> 
            <img src="../static/images/bell2.png" width="43" height="43">
            </div> 
            </li>
            <li> 
             <div class="settings2-icon"> 
                <img src="../static/images/settings2.png" width="47" height="47">
            </div> 
            </li>
        </ul>
        </div>
    </nav>
    <nav class="sidenav">
        <ul class="sidenav-list">
            <li> <img src="../static/images/purplelogo.png" alt="purple-logo" width="63" height="63" ></li>
            <div class="inv-icon"> 
                <li> <img src="../static/images/invlogo.png" alt="inventory-icon" width="37" height="37"> </li>
            </div>
           
            <div class="basket-icon"> 
                <li> <img src="../static/images/basket.png" alt="basket-icon" width="53" height="53"> </li>
            </div>
             <div class="rocket-icon"> 
                <li> <img src="../static/images/rocket.png" alt="rocket-icon" width="53" height="53"> </li>
            </div>
             <div class="calendar-icon"> 
                <li> <img src="../static/images/calendar.png" alt="calendar-icon" width="55" height="55"> </li>
            </div>
              <div class="person-icon"> 
                <li> <img src="../static/images/person.png" alt="person-icon" width="53" height="53"> </li>
            </div>
        </ul>
    </nav>

<section id="inv">
    <section id="filter-list">
    <div class="inventory-header">
        <h2> Inventory </h2>
    <div class="custom-dropdown-one">
        <select id="sort-filter">
            <option value="name">Category: All </option>
            <option value="date">Category: Laptop</option>
            <option value="Mobile Device">Category: Mobile Device</option>
            <option value="Headset"> Category: Audio Device</option>
            <option value="Furniture"> Category: Furniture</option>
        </select>

    </div>

        <div class="custom-dropdown-two">
        <select id="brand-filter">
            <option value="name">Return Date: </option>
            <option value="today">Today</option>
            <option value="tomorrow">Tomorrow</option>
        </select>

    </div>
        <div class="search-bar">
            <form action="/search" method="get">
                <input type="text" name="q" placeholder="Quick Search">
                <div class="search-icon">
                    <img src="../static/images/search-icon.png" alt="search icon">
                </div>
                <button type="submit"> </button>
            </form>
        </div>
        
        <div class="add-button">
            + Add to cart
        </div>


</div>




    <section id="inventory-list">
         <div class="inventory-filter">
             <div class="custom-dropdown">
                <select id="stock-filter">
                    <option value="all">All </option>
                    <option value="in-stock"> Available </option>
                    <option value="out-of-stock"> Unavailable </option>
                </select>
                <span class="arrow">▼</span>
             </div>
        </div>

        <div class="inventory">
             <div class="inventory-titles">
{#                    <div class="header-item small-column">#}
{#                        ##}
{#                        <input type="checkbox" name="item1">#}
{#                        <input type="checkbox" name="item2">#}
{#                        <input type="checkbox" name="item3">#}
{#                        <input type="checkbox" name="item4">#}
{#                        <input type="checkbox" name="item5">#}
{#                        <input type="checkbox" name="item6">#}
{#                        <input type="checkbox" name="item7">#}
{#                        <input type="checkbox" name="item8">#}
{#                        <input type="checkbox" name="item9">#}
{#                        <input type="checkbox" name="item10">#}
{#                        <input type="checkbox" name="item11">#}
{#                        <input type="checkbox" name="item12">#}
{#                        <input type="checkbox" name="item13">#}
{#                        <input type="checkbox" name="item14">#}
{#                        <input type="checkbox" name="item15">#}
{#                        <input type="checkbox" name="item16">#}
{#                        <input type="checkbox" name="item17">#}
{#                        <input type="checkbox" name="item18">#}
{#                        <input type="checkbox" name="item19">#}
{#                        <input type="checkbox" name="item20">#}
{#                        <input type="checkbox" name="item21">#}
{#                        <input type="checkbox" name="item22">#}
{#                        <input type="checkbox" name="item23">#}
{#                        <input type="checkbox" name="item24">#}
{#                        <input type="checkbox" name="item25">#}
{#                        <input type="checkbox" name="item26">#}
{#                        <input type="checkbox" name="item27">#}
{#                    </div>#}
                 <div class="header-item"><div class="header-hash"> <div class="hash"># </div>     <div class="item-name"> Item Name</div></div>
                        <div class="inventory-items">
                            <div class="item-info">
                                <label>
                                        <input type="checkbox" name="item1">
                                        <img src="../static/images/laptop.png" alt="Icon 1">
                                        Gigabyte Aero15 1070
                                </label>
                                <label>
                                    <img src="../static/images/laptop.png" alt="Icon 2">
                                    Gigabyte Aero15-X9 2070
                                </label>
                                <label>
                                    <img src="../static/images/laptop.png" alt="Icon 3">
                                    Gigabyte Aero15-X9 2070
                                </label>
                                    <label>
                                        <img src="../static/images/laptop.png" alt="Icon 4">
                                        Gigabyte Aero15-X9 2070
                                </label>
                                <label>
                                    <img src="../static/images/laptop.png" alt="Icon 5">
                                    Gigabyte Aero15-X9 2070
                                </label>
                                <label>
                                    <img src="../static/images/googlepixel.png" alt="Icon 6">
                                    Google Pixel 2
                                </label>
                                <label>
                                    <img src="../static/images/samsung.png" alt="Icon 7">
                                    Samsung Galaxy S6
                                </label>
                                 <label>
                                    <img src="../static/images/ipadmini.png" alt="Icon 8">
                                    Ipad Air Gen3
                                 </label>
                    
                                 <label>
                                    <img src="../static/images/ipadpro.png" alt="Icon 9">
                                    Ipad Pro Gen6
                                </label>
                                <label>
                                    
                                    <img src="../static/images/macmini.png" alt="Icon 10">
                                    Mac Mini M2
                                </label>
                    
                                 <label>
                                    
                                    <img src="../static/images/laptop.png" alt="Icon 11">
                                    Gigabyte Aorus15X 4070
                                </label>
                                <label>
                                    <img src="../static/images/headset.png" alt="Icon 12">
                                    Oculus Quest 1
                                </label>
                                <label>
                                    <img src="../static/images/headset.png" alt="Icon 13">
                                    Oculus Quest 1
                                </label>
                                <label>
                                    <img src="../static/images/headset.png" alt="Icon 14">
                                    Oculus Quest 1
                                </label>
                                <label>
                                    <img src="../static/images/headset.png" alt="Icon 15">
                                    Pico 4
                                </label>
                                <label>
                                    <img src="../static/images/headset.png" alt="Icon 16">
                                    Pico 4
                                </label>
                                <label>
                                    <img src="../static/images/headset.png" alt="Icon 17">
                                    Pico 4 Enterprise
                                </label>
                                <label>
                                    <img src="../static/images/headset.png" alt="Icon 18">
                                    Oculus Quest 2
                                </label>
                                <label>
                                    <img src="../static/images/headset.png" alt="Icon 19">
                                    Oculus Quest 2
                                </label>
                                <label>
                                    <img src="../static/images/headset.png" alt="Icon 20">
                                    Oculus Quest 2
                                </label>
                                <label>
                                    <img src="../static/images/headset.png" alt="Icon 21">
                                    Viva Focus 3
                                </label>
                                <label>
                                    <img src="../static/images/headset.png" alt="Icon 22">
                                    Viva Focus 3
                                </label>
                                <label>
                                    <img src="../static/images/headset.png" alt="Icon 23">
                                    Viva Focus 3
                                </label>
                                <label>
                                    <img src="../static/images/headset.png" alt="Icon 24">
                                    Viva Focus 3
                                </label>
                                <label>
                                    <img src="../static/images/headset.png" alt="Icon 25">
                                    Viva Focus 3
                                </label>
                                <label>
                                    <img src="../static/images/headset.png" alt="Icon 26">
                                    Hololens 1
                                </label>
                                <label>
                                    <img src="../static/images/headset.png" alt="Icon 27">
                                    Hololens 2
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="header-item">Type</div>
                    <div class="header-item">Description</div>
                    <div class="header-item">Availability</div>
        <!-- Add more header items as needed -->
            </div>
            
        </div>
    </section>

    </section>
</section>
</body>



</html>